In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv("Iris.csv")

In [3]:
df.drop('Id',axis=1,inplace=True)

In [4]:
df.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
SepalLengthCm    150 non-null float64
SepalWidthCm     150 non-null float64
PetalLengthCm    150 non-null float64
PetalWidthCm     150 non-null float64
Species          150 non-null object
dtypes: float64(4), object(1)
memory usage: 5.9+ KB

In [6]:
from sklearn.model_selection import train_test_split
x=df.drop('Species',axis=1)
y=df['Species']
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.3,random_state=1)
x_train['Species']=y_train

/home/sivavamsi/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [7]:
x_train.head()

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm          Species
118            7.7           2.6            6.9           2.3   Iris-virginica
18             5.7           3.8            1.7           0.3      Iris-setosa
4              5.0           3.6            1.4           0.2      Iris-setosa
45             4.8           3.0            1.4           0.3      Iris-setosa
59             5.2           2.7            3.9           1.4  Iris-versicolor

In [8]:
x_test.head()

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
14             5.8           4.0            1.2           0.2
98             5.1           2.5            3.0           1.1
75             6.6           3.0            4.4           1.4
16             5.4           3.9            1.3           0.4
131            7.9           3.8            6.4           2.0

In [9]:
y_test.head()

14         Iris-setosa
98     Iris-versicolor
75     Iris-versicolor
16         Iris-setosa
131     Iris-virginica
Name: Species, dtype: object

In [10]:
x_train.to_csv('Iris_train.csv',index=0)

In [11]:
x_test.to_csv('Iris_test.csv',index=0)